<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>exhibition</title>
    <base href="/">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top height-adjustment">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" (click)="fixedNavbarExample2.toggle()"
                    aria-controls="fixedNavbarExample2" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                
                <div mdbCollapse #fixedNavbarExample2="mdbCollapse" class="collapse navbar-collapse" id="fixedNavbarExample2">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" [routerLink]="['/Market/',uid]">Market</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/Exhibition/',uid]">Exhibition</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/User/',uid]">Users</a>
                    </li>
                    <li class="nav-item" [style.background-color]="isColor? '#CEB89E': '#FFFFFF'">
                        <a class="nav-link" [routerLink]="['/Artist/',uid]">Artist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/Orders/',uid]">Orders</a>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar -->
        <div style="display: flex; justify-content: center ;margin-top: 3.5%;width: 100%; background-color: black;">
            <div class="columns">
                <div class="column" *ngFor="let data of datas" >
                      <div class="card mb-1">
                        <div class="" style="display: flex; width: 100%;">
                          <div class="col-md-4" style="width: 40%;" mdbRipple rippleColor="light">
                            <img
                            height="100vh"
                            src="{{data.photoUrl || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqjYWb_kZ7jZ_aCJJdFjLqxS-DBaGsJGxopg&usqp=CAU'}}" 
                            type="button" 
                            (click)="openModal(data.photoUrl)"
                            class="img-fluid rounded-start hover-overlay"
                            />
                          </div>
                          <div class="col-md-4" style="width: 60%;">
                            <div class="card-body">
                              <h1 class="card-title">{{data.artistName}}</h1>
                                <h4 class="card-text">{{data.email}}</h4>
                              <p class="card-text v" type="button">
                                <small class="text-muted">{{data.description}}</small>
                              </p>
                                <div class="d-grid gap-0 d-md-flex justify-content-md-end">
                                    <button class="btn me-md-2" [disabled]="data.isEnabled" autocomplete="off" type="button"
                                     (click)="approveArtist(data.artistUid)" style="color: #FFFFFF; background-color: #0E1822">Approve</button>
                                    <button class="btn" type="button" autocomplete="off" (click)="onDisable(data.artistUid)"
                                     [disabled]="!data.isEnabled" style="color: #FFFFFF; background-color: #FF3636">Decline</button>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <!-- By default there are no controls so let's turn them on. -->
                          <!-- <advanced-video [cldVid]="vid" controls></advanced-video> -->
                          <video class="video d-md-flex justify-content-md-center align" controls src="{{data.introductionVideo}}" type="video/mp4, video/webm, video/ogg" scrolling="no" frameborder="0" allowfullscreen allowtransparency ></video>
                            <!-- <video class="video d-md-flex justify-content-md-center align" controls src="{{data.introductionVideo}}" type="video/mp4, video/webm, video/ogg" scrolling="no" frameborder="0" allowfullscreen allowtransparency ></video> -->
                          </div>
                      </div>
                </div>
             </div></div>

</body>
</html>