.body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
   
}
.left-pannel {
    display: flex;
    width: 30%;
    flex-direction: column;
}
.right-pannel {
    display: flex;
    flex-direction: column;
    width: 70%;

}
.top-left-column {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-self: center;
    margin-top: 9%;
    width: 100%;
    height: 10vh;
    background-color: #0E1822;
}

.bottom-left-column {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 90vh;
    gap: 20px;
    background-color: #FFFFFF;
}

.input {
    display: flex;
    margin-right: 15px;
    height: 6vh;
    margin-top: 3%;
}
.order-text{
    display:flex; 
    color: #FFFFFF; 
    margin-top: 3.5%; 
    margin-left: 10px;
}

.small-detailed-card {
    display: flex;
    height: 10vh;
    width: 95%;
    align-self: center;
    
}
.buyer-name-onCard {
    display: flex;   
    flex-direction: column;
    margin-left: 5%;
}
.buyerId-style {
    display: flex;
    margin-top: -15%;
}
.side-card-infor{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.side-card-date {
    display: flex;
    align-self: center;
    margin-left: 25%;
}

.side-card-second-date {
    display: flex;
    margin-left: 60%;
    margin-top: 3%;
}

.side-right-infor {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
}

.buyerId-style-right {
    display: flex; 
    font-size:16px; 
    font-weight: 300; 
    margin-top: 1%;
}

.side-right-address{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 90%;
}

.right-bottom-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 70vh;
    width: 100%;
    gap: 5px;   
}

.item-details-row {
    display: flex;
    flex-direction: row;
}

.item-details-card {
    width: 425px;
    margin-top: 3%;
    height: 50vh;
    margin-left: 10%;
}
.item-details-card-image {
    width: 400px;
    height: 50vh;
}
.item-infor {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;
    // background-color: red;
    position: absolute;
    margin-top: 40%;
}
.item-detail {
    display: flex;
    align-self: flex-start;
    color: #FFFFFF;
    
}

.item {
        margin-top: -15px;
}
.email {
    display: flex;
    margin-top: -20px;
}
.item-infor-modal{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;
    // background-color: red;
    position: absolute;
    margin-top: 80vh;
}
.item-detail-modal {
    display: flex;
        align-self: flex-start;
        color: #FFFFFF;
}
.overlay-infor {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 100%;
    flex: 13px;
    color: #FFFFFF;
}
.height-adjustment {
    height: 6vh;
}

.float-left {
    display: flex;
    flex-direction: column;
}

@media(max-width: 890px) {
    .top-left-column {
        display: flex;
       // justify-content: space-between;
        flex-direction: column;
        align-self: center;
        height: 20vh;
        width: 100%;
    }
    .input {
        display: flex;
        justify-content: center;
        height: 6vh;
        margin-bottom: 7%;
        width: 80%;
        align-self: center;
    }
    .order-text{
        display: flex;
        align-self: center;
        
    }
    .side-card-second-date {
        display: flex;
        margin-left: 20%;
        margin-top: 5%;
    }
    .item-details-card {
        width: 425px;
        margin-top: 3%;
        height: 50vh;
        margin-left: 5%;
    }
    .item-details-card-image {
        width: 420px;
        height: 50vh;
    }
    .item-infor {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        justify-content: flex-start;
        // background-color: red;
        margin-top: 20%;
    }
}

