<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top height-adjustment">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" (click)="fixedNavbarExample2.toggle()"
            aria-controls="fixedNavbarExample2" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div mdbCollapse #fixedNavbarExample2="mdbCollapse" class="collapse navbar-collapse" id="fixedNavbarExample2">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" [routerLink]="['/Market/',uid]">Market</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/Exhibition/',uid]">Exhibition</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/User/',uid]">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/Artist/',uid]">Artist</a>
                </li>
                <li class="nav-item" [style.background-color]="isColor? '#CEB89E': '#FFFFFF'">
                    <a class="nav-link" [routerLink]="['/Orders/',uid]">Orders</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar -->
<div class="body" >
<div class="card text-center left-container">
    <div class="card-header">
        <div class="pannel-header">
            <h2>Orders</h2>          
        </div>
    </div>

    <div class="scrollspy-example-collapsible">
    <div class=" card card-body side-card-body" *ngFor="let data of data" [style.background-color]="data.transactionId === transactionId ? '#CEB89E' : '#FFFFFF'">
        <div
         type="button"
        (click)="enableDisableRule(data.transactionId); viewMoreDetails(data); viewMoreArt(data.items)"
        aria-controls="multiCollapseExample1 multiCollapseExample2" id="scrollable">
            <div class="side-card" >
                <div>
                    <h2 class="buyer-style">{{data.name}}</h2>
                    <p class="buyerId-style">{{data.transactionId}}</p>
                </div>
                <div class="card-date"><p>{{data.date}}</p></div>
            </div>
        </div>
    </div>
    </div>

</div>

<div class="right-container" >
<div class="card text-center top-container collapse multi-collapse mt-3"
      id="multiCollapseExample1"
      mdbCollapse
      >
    <div class="card-body">
        <div class="right-top-view" id="scrollable">
            <div class="card-header-body">
                <h1 class="buyer-style">{{dataByUid.name ? dataByUid.name : data.name}}</h1>
                <h3 class="buyerId-style">{{dataByUid.transactionId}}</h3>
                <h3 class="buyerEmail-style">{{dataByUid.emailAddress}}</h3>
            </div>
            <div class="viewed-date">
                <h3 style="display: flex;align-self: flex-end;">{{dataByUid.date}}</h3>
                <h3>{{dataByUid.address}}</h3>
            </div>
        </div>
        <div class="view-body" id="scrollable">
            <div class="card-header-body">
                <h1 class="buyer-style">${{dataByUid.totalAmount}}.00</h1>
            </div>
            <div class="viewed-date button-delivered">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn me-md-2" type="button" [disabled]="dataByUid.isDelivered" style="border-radius: 20; color: '#CEB89E';" (click)="onDelivered(dataByUid.documentID)">Delivered</button>
                <button class="btn" type="button" [disabled]="!dataByUid.isDelivered" style="color: '#FF3636';" (click)="onNotDelivered(dataByUid.documentID)">Not-Delivered</button>
            </div>
            </div>
        </div>
    </div>

    <div class="scrollspy-example-collapsible-2 container-card">
    <div class="card-body container-card" *ngFor="let dataByItem of dataByItem">
        <div class="col">
    <div class="card hover-overlay" style="max-width:'calc(100vw - 480px)';" >
        <img src="{{dataByItem.artUrl}}" height="300px" class="card-img" width="calc(100vw - 480px)" alt="{{dataByItem.artName}}" />
        <div class="card-img-overlay">
            <div class="card-title overlay-infor">
                <h3 style="display: flex; margin-right:10px"><strong>{{dataByItem.artistName}}</strong></h3>
                <i class="fas fa-info-circle"  style="display: flex; margin-top:5px; size: 24;" type="button" (click)="openModal(dataByItem.artUrl, dataByItem.artistName, dataByItem.artName)"></i>
                
            </div>
            <div class="item-infor">
            <p class="item-detail">{{dataByItem.artName}}</p>
            <p class="item-detail item">{{dataByItem.artType}}</p>
            <p class="item-detail item">R{{dataByItem.price}}.00</p>
            </div>
        </div>
        <div class="mask description-overlay"><p class="description" >{{dataByItem.description}}</p></div>
    </div>
    
    </div>
    </div>
    </div>
</div>
<!--
<div class="card text-center bottom-container collapse multi-collapse mt-3"
      id="multiCollapseExample2"
      mdbCollapse
      #buttonCollapse="mdbCollapse">
    <div class="card-body" *ngFor="let dataByItem of dataByItem">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img src="{{dataByItem.artUrl}}" class="card-img"
                        alt="Hollywood Sign on The Hill" />
                        <div class="card-img-overlay">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.
                            </p>
                            <p class="card-text">Last updated 3 mins ago</p>
                        </div>
                </div>
            </div>
            </div>
    </div>
</div>
-->
</div>
</div>