
.columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;   
}

.column{
  display: flex;
  flex-direction: row;
  //flex: 33.33%;    
}

@media (min-width: 720px) {
  .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;   
  }

  .column {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      -ms-flex: 0 0 31%;
      flex: 0 0 31%;
      max-width: 0 0 31%;
  }
}

.card-content {
  display: flex;
  flex-direction: row;
}

.image-property {
  height: 60vh;
}

.modal{
  display: flex;
  align-self: center;
}