<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>exhibition</title>
    <base href="/">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top height-adjustment">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" (click)="fixedNavbarExample2.toggle()"
                    aria-controls="fixedNavbarExample2" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div mdbCollapse #fixedNavbarExample2="mdbCollapse" class="collapse navbar-collapse" id="fixedNavbarExample2">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active" >
                            <a class="nav-link" aria-current="page" [routerLink]="['/Market/',uid]">Market</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/Exhibition/',uid]">Exhibition</a>
                        </li>
                        <li class="nav-item" [style.background-color]="isColor? '#CEB89E': '#FFFFFF'">
                            <a class="nav-link" [routerLink]="['/User/',uid]">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/Artist/',uid]">Artist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/Orders/',uid]">Orders</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
      
<div style="display: flexbox; margin-top:40px">

    <mat-grid-list cols="3" rowHeight="90px" class="card">
        <mat-grid-tile *ngFor="let data of datas" [colspan]="1" [rowspan]="6.5">
            <mat-card style="width: 410px;height: 55vh; ">
                <mat-card-title-group style="display: flex;flex-direction: column;">
                    <mat-card-title-group>
                  <img class="card-img-top" height="270px" src="{{data.photoURL}}" type="button" (click)="openModal(data.photoURL)" >
                    </mat-card-title-group>
                    <mat-card-title-group style="display: flex; flex-direction: column;">
                        <p class="h3">name: {{data.fullName}}</p>
                        <p class="h4">email: {{data.email}}</p>
                    </mat-card-title-group>
                </mat-card-title-group>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn me-md-2" [disabled]="data.isEnabled" autocomplete="off" type="button"
                        (click)="approveUser(data.uid)" style="color: '#0E1822'">Approve</button>
                    <button class="btn" type="button" autocomplete="off" (click)="onDisable(data.uid)"
                        [disabled]="!data.isEnabled" style="color: '#FF3636'">Decline</button>
                </div>
            </mat-card>
            
            <!-- <img src='{{data.artUrl}}' style="background-color: black;"/> -->
        </mat-grid-tile>
    </mat-grid-list>
    <!-- <div class="wrapper">
        <div class="overlay" *ngIf="showSpinner">
          <div class="spinner-wrapper">
            <app-spinner></app-spinner>
          </div>
        </div>
      
        <div class="loaded-content" [class.blurred]="showSpinner">
            <div class="spinner-grow overlay-spinner" style="width: 7rem; height: 7rem;" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
        </div>
      </div> -->
   
    
</div>

</body>
</html>