<div class="modal-content" >
    <!-- <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div> -->
    <div style="display:flexbox;flex-direction:row; ">
    <div class="modal-body d-flex flex-row " *ngFor="let data of data" style="display:flexbox; flex-direction: row; justify-content: center; margin-right: 5px ;" >
        <div class="card" style="width: 18rem;">
            <img src="{{ data.artUrl }}" class="card-img-top" alt="..." width="150px" height="150px"/>
            <div class="card-body" style="display: flex;flex-direction: column; justify-content: space-between">
                <p class="card-text text-muted mb-0">
                   <strong>Art-type:</strong> {{data.artType}}
                </p>
                <p class="card-text text-muted mb-0">
                    <strong>Price:</strong> ZAR {{data.price}}.00
                </p>
                <!-- <div class="d-grid gap-2 d-md-block" style="margin-top: 5px;"> -->
                    <div class="d-grid gap-2" style="margin-top: 5px;">
                    <!-- <button type="button" class="btn btn-light me-md-2">Light</button> -->
                    <button type="button" class="btn btn-dark" (click)="paymentForArtist(data.imageUid ,data.artUrl, data.artistUid, data.price, data.artType, data.uuid)">Legacy</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
