<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Gallery 360 Africa</span>
    
    <span class="example-spacer"></span>
    <div style="display: flex; align-self:flex-end;">
    <button mat-button class="example-icon" style="right: 10vh;" (click)="routeToTheNextScreen('Markets')" aria-label="Example icon-button with share icon">
        Market
    </button>
    <button mat-button class="example-icon" style="right: 10vh;" (click)="routeToTheNextScreen('Exhibitions')" aria-label="Example icon-button with share icon">
        Exhibitions
    </button>
    <button mat-button class="example-icon" style="right: 10vh;" (click)="routeToTheNextScreen('Users')" aria-label="Example icon-button with share icon">
        Users
    </button>
    <button mat-button class="example-icon" style="right: 10vh;" (click)="routeToTheNextScreen('Artists')" aria-label="Example icon-button with share icon">
        Artists
    </button>
    <button mat-button class="example-icon" style="right: 10vh;" (click)="routeToTheNextScreen('Payment')"
        aria-label="Example icon-button with share icon">
        Payment
    </button>
    </div>
    <!-- <button mat-icon-button class="example-icon favorite-icon" (click)="" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>

<router-outlet></router-outlet>