<div class="container">
    <div class="title">
        <h3 class="card-title">FORGOT PASSWORD!</h3>
    </div>
        <div class="input">
            <form [formGroup]="userEmail">
            <mdb-form-control class="form-white form-group">
                <input mdbInput [class.is-invalid]="primEmail.invalid && primEmail.touched" type="email" class="form-control"
                formControlName="primaryEmail" #email/>
                <label mdbLabel class="form-label" for="formWhite">Email</label>
              </mdb-form-control> 
              <div *ngIf="(primEmail.invalid && primEmail.touched) || primEmail.dirty">
                <small *ngIf="primEmail?.hasError('required')" class="text-danger">email is required</small>
                <!--question mark(?) is a safe navigation operator-->
                <small *ngIf="primEmail?.hasError('pattern')" class="text-danger">Please provide a valid email address</small>
              </div>
            </form>
        </div>
        <div class="button-submit" >
            <button type="button" mdbRipple rippleColor="light" class="btn" style="color:#0E1822"
            [disabled]="primEmail.invalid"
            (click)="forgotPasswordResetEmail(email.value)"
            >RESET PASSWORD</button>
        </div>
</div>