<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Sign-In-Screen</title>
    <base href="/">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    
    <div style="display: flex; flex-direction: row;">
<div style="display: flex;
  width: calc(100vw - 400px);
  height: 100vh;
  flex-direction: 'column';
  justify-content: 'space-between';
  background-size:cover;
  background-image: url('../../assets/images/Splashscreen.png');">
    <!-- <div style="display:flex; flex-direction:row;" > -->
    <!-- <div style="display :flex; align-self: flex-start;border: 2px solid; width: 120vh; flex: 1 0 0 auto;"> -->
        
            <img 
            src="../../assets/images/splash/logo.png" 
            style="display: flex;
                   height: 50vh;
                align-self: 'center';
                margin-top: 15vh;
                size: inherit;
               " />
            <h1 style="align-self: center;"><span style="font-weight: bold;font-size: 54px; font-family: 'Poppins';">Gallery 360</span><br><span style="align-self: center; margin-left: 15vh;">Africa</span></h1>
        </div>

<div style="display: flex;
  height: 100vh;
  justify-content: 'center';
  align-content: 'center';
  background : linear-gradient(#CEB89E, #616161);
  width: '50%';
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;">

  <div style="display: flex;
  flex-direction: column;
  
  align-self: 'center';
  height: 100vh;">
<h3 style="color: aliceblue; font-family: 'Italic'; font-size: 12vh; align-self: 'center'; margin-top: 20vh;">Sign In</h3>
<div style="display:flex; flex-direction: column; justify-content: space-between; margin-top: 10vh;">
            <mdb-form-control>
                <input mdbInput type="email" id="typeEmail" class="form-control" placeholder="example@email.com" [formControl]="emailFormControl" #email />
                <label mdbLabel class="form-label" for="typeEmail">Email:</label>
            </mdb-form-control> 
            <mat-error *ngIf="!emailFormControl.hasError('email') && emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mdb-form-control style="display: flex;margin-top:2vh">
                <input mdbInput  type="password" id="typePassword" class="form-control" #userPassword required [formControl]="passwordFormControl"/>
                <label mdbLabel class="form-label" for="typePassword">Password:</label>
            </mdb-form-control>
            <mat-error *ngIf="!passwordFormControl.hasError('pattern') && passwordFormControl.hasError('required')">
                Please enter a valid Password
            </mat-error>
 
    </div>
        <button style="display: flex;margin-top:2vh; align-self: center;" type="button" class="btn btn-light btn-rounded d-grid gap-2 col-12 mx-auto"
            (click)="authenticationService.onSignIn(email.value, userPassword.value)">sign-in</button>
    <p style="color: '#FFFFFF'; align-self: center; margin-bottom: 5vh;">Don’t have an account?<a [routerLink]="['/SignUp']"
            style="color: 'rgba(34, 24, 14, 1)';"> Sign Up</a></p></div>
</div>
</div>
</body>

</html>
