<div style="display: flex; flex-direction:row">
    <div class="left-container">
        <div class="left-inner-container">
        <img 
            src="../../assets/images/splash/logo.png" 
            class="logo"/>
            <div class="title">
                <h1 class="title-name">Gallery 360<strong class="title-africa">Africa</strong></h1>
            </div>
        </div>
    </div>
    <div class="right-container">
            <div class="right-inner-container">
                <h3 class="sign-title">Sign In</h3>
                <div class="inputs">
                    <form [formGroup]="userEmail">
                        <mdb-form-control class="form-white form-group">
                            <input mdbInput [class.is-invalid]="primEmail.invalid && primEmail.touched" type="email" class="form-control"
                            formControlName="primaryEmail" #email/>
                            <label mdbLabel class="form-label" for="formWhite">Email</label>
                          </mdb-form-control> 
                          <div *ngIf="(primEmail.invalid && primEmail.touched) || primEmail.dirty">
                            <small *ngIf="primEmail?.hasError('required')" class="text-danger">email is required</small>
                            <!--question mark(?) is a safe navigation operator-->
                            <small *ngIf="primEmail?.hasError('pattern')" class="text-danger">Please provide a valid email address</small>
                          </div>
                    </form>
                </div>
                <div class="password">
                    <form [formGroup]="userPassword">
                        <mdb-form-control class="form-white form-group">
                            <input mdbInput [class.is-invalid]="primPassword.invalid && primPassword.touched" type="password" class="form-control"
                            formControlName="primaryPassword" #password/>
                            <label mdbLabel class="form-label" for="formWhite">Password</label>
                          </mdb-form-control> 
                          <div *ngIf="(primPassword.invalid && primPassword.touched && primPassword.dirty)">
                            <small *ngIf="primPassword?.hasError('required')" class="text-danger">password is required</small>
                            </div>
                            <a (click)="openModal(email.value)" class="forgot-link" type="button">Forgot password?</a>     

                    </form>
                </div>
                <div class="button-btn" >
                    <button type="button" mdbRipple rippleColor="light" class="btn button-btn" style="color:#0E1822"
                    [disabled]="primPassword.invalid || primEmail.invalid"
                    (click)="authenticationService.onSignIn(email.value, password.value)"
                    >Sign in</button>
                    <div class="forgot-account">
                    <p style="color: '#FFFFFF'; align-self: center; margin-top:5%;">Don’t have an account?<a [routerLink]="['/SignUp']"
                        style="color: 'rgba(34, 24, 14, 1)';"> Sign Up</a></p>
                    </div>
                </div>
                <form [formGroup]="userPassword" class="password">
                    <div *ngIf="(primPassword.invalid && primPassword.touched && primPassword.dirty)">
                        <small *ngIf="primPassword?.hasError('hasSpecialCharacter')" class="text-danger">Must have at least one special characters</small>
                        <br>
                        <small *ngIf="primPassword?.hasError('hasNumber')" class="text-danger">
                            Must have at least one digit</small><br>
                        <small *ngIf="primPassword?.hasError('hasSmallCase')" class="text-danger">
                            Must have at least one lowercase letter</small><br>
                        <small *ngIf="primPassword?.hasError('hasCapitalCase')" class="text-danger">
                            Must have at least one uppercase letter</small>
                      </div>
                </form>
            </div>
    </div>
</div>

